<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
    <h1>News Gacha Simulator</h1>
    <p>ニュースを探したり、そもそも読むのもめんどくさくなったりしたことはありませんか？</p>
    <p>そんな人のためにランダムでニュースをピックアップしておすすめします。</p>
    <p>興味のある記事が見つかれば幸いです。</p>
    <form method="POST">
        <p><input type="submit" value="ニュースガチャを引く"></p>
    </form>
    <table>
        <% for(var i = 0; i < Math.min(10, content.length); i++){ %>
        <tr>
            <td><img src=" <%- content[i].urlToImage %> >" width="300" height="200"></td>
            <td><a href=" <%- content[i].url %> "> <%= content[i].title %> </a></td>
        </tr>
        <% } %>
    </table>
    <footer>
        <small>powered by <a href="https://newsapi.org">newsAPI.org</a></small>
    </footer>
<body>
</body>
</html>